* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto sans-serif;
}

body {
    background-color: #0F172A;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

header .top-of-page {
    margin-top: 32px;
    justify-content: space-between ;
    display: flex;
}

header .top-of-page .logo {
    display: flex;
}

header .top-of-page img {
    width: 40px;
    height: 40px;
}

header .top-of-page h3 {
    margin-top: 3px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #0EA5E9;
}

header a {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    padding-left: 40px;
    color: #F8FAFC;
}


main h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    color: #F8FAFC ;
    padding-top: 84px;
    padding-left: 270px;
}

main span {
    color: #22D3EE;
}

main pre {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #F8FAFC;
    padding-top: 50px;
}

main li {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #F8FAFC;
}

main .wrapper .mail {
    margin-top: 56px;
    margin-left: 56px;
    position: relative;
    width: 100%;
    max-width: 861px;
}


main .wrapper input {
    width: 100%;
    height: 70px;
    border-radius: 30px;
    background: #1E293B;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
    padding-left: 42px;
    padding-right: 190px;
    color: #F8FAFC;
}

main .wrapper input::placeholder {
    color: #F8FAFC;
}

main .wrapper button {
    background: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
    width: 164px;
    height: 46px;
    top: 12px;
    right: 17px;
    border-radius: 30px;
    position: absolute;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

aside .strip {
    padding-top: 133px;
    width: 100%;
}

aside hr {
    background: #CBD5E1;
}

aside .ending {
    display: flex;
    padding-top: 17px;
}

aside .ending p {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    color: #CBD5E1;
    padding-top: 10px;
}

aside .ending .links-to-social-networks {
    padding-left: 300px;
}

aside .ending span {
    color: red;
}

aside .wrapper {
    height: 100px;
}















