* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto sans-serif;
}
body {
    background-color: #0F172A;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

header .top-of-page {
    margin-top: 32px;
    justify-content: space-between ;
    display: flex;
}

header .top-of-page .logo {
    display: flex;
}

header .top-of-page img {
    width: 40px;
    height: 40px;
}

header .top-of-page h3 {
    margin-top: 3px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #0EA5E9;
}

header a {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    margin-left: 40px;
    color: #F8FAFC;
}

header a:first-child {
    margin-left: 7px;
}

header .description {
    display: flex;
    align-items: flex-end;
    padding-top: 85px;
}

header .description h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 85px;
}

header .description span {
    color:#0EA5E9 ;
}

header .description p {
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding-top: 48px;
    color: #FFFFFF;
    max-width: 780px;
    font-size: 26px;
    margin-right: 134px;
}

header .photos-of-social-networks {
    display: flex;
    margin-top: 58px;
}

main .first-table-of-contents {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #F8FAFC;
    margin-top: 133px;
}

main .first-table-of-contents span {
    color: #22D3EE;
}

main .the-background {
    padding-top: 83px;
}

main .the-background .project {
    display: flex;
    background: #1E293B66;
    border-radius: 30px;
}


main .the-background h4 {
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
    color: #F8FAFC;
    padding-left: 44px;
    padding-top: 87px;
}

main .the-background p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    padding-left: 44px;
    color: #F8FAFC;
    padding-top: 25px;
}

main .the-background img {
    top: 844px;
    left: 143px;
    padding: 30px;
    border-radius: 20px;
    gap: 44px;
}

main .latest-posts {
    padding-top: 95px;
    display: flex;
    justify-content: space-between;
}

main .latest-posts h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: #F8FAFC;
}

main .latest-posts span {
    color: #0EA5E9;
}

main .latest-posts .view-all-posts {
    display: flex;
    width: 206px;
    height: 44px;
    top: 1928px;
    left: 1088px;
    gap: 12px;
}

main .latest-posts .view-all-posts h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: #F8FAFC;
    padding-top: 10px;
}

main .lorem-ipsum-dolor {
    display: flex;
    padding-top: 82px;
    justify-content: space-between;
}

main .lorem-ipsum-dolor .the-background-two {
    background: #1E293B;
    border-radius: 30px;
    width: 369px;
    height: 518px;
}

main .lorem-ipsum-dolor h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #F8FAFC;
    padding-top: 22px;
}

main .lorem-ipsum-dolor p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #F8FAFC;
    width: 342px;
    padding-left: 14px;
    padding-top: 20px;
}

main .lorem-ipsum-dolor .the-background-two .text-background {
    color: #9CA3AF;
}


aside .end-of-page {
    display: flex;
    padding-top: 88px;
}

aside .end-of-page h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    color: #F8FAFC;
}

aside .end-of-page .changed-color-to-blue {
    color: #22D3EE ;
}

aside .end-of-page .text {
    padding-top: 33px;
}

aside .end-of-page p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #CBD5E1;
}




aside .end-of-page .mail {
    margin-top: 88px;
    margin-left: 56px;
    position: relative;
    width: 100%;
    max-width: 522px;
}


aside .end-of-page input {
    width: 100%;
    height: 70px;
    border-radius: 30px;
    background: #1E293B;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
    padding-left: 42px;
    padding-right: 190px;
    color: #F8FAFC;
}

aside .end-of-page input::placeholder {
    color: #F8FAFC;
}

aside .end-of-page button {
    background: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
    width: 164px;
    height: 46px;
    top: 12px;
    right: 17px;
    border-radius: 30px;
    position: absolute;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

aside .strip {
    padding-top: 255px;
    width: 100%;
}

aside hr {
    background: #CBD5E1;
}

aside .ending {
    display: flex;
    padding-top: 17px;
}

aside .ending p {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    color: #CBD5E1;
    padding-top: 10px;
}

aside .ending .links-to-social-networks {
    padding-left: 330px;
}

aside .ending span {
    color: red;
}

aside .wrapper {
    height: 100px;
}







