* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto sans-serif;
}

body {
    background-color: #0F172A;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

header .top-of-page {
    margin-top: 32px;
    justify-content: space-between ;
    display: flex;
}

header .top-of-page .logo {
    display: flex;
}

header .top-of-page img {
    width: 40px;
    height: 40px;
}

header .top-of-page h3 {
    margin-top: 3px;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: #0EA5E9;
}

header a {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    padding-left: 40px;
    color: #F8FAFC;
}

header .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    padding-top: 132px;
    color: #F8FAFC;

}

main .top-of-page p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #9CA3AF;
    padding-top: 52px;
}

main .top-of-page img {
    padding-top: 43px;
}

main p,li {
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    color: #F8FAFC;
}

main h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #F8FAFC;
}

main .lorem-ipsum-dolor {
    padding-top: 125px;
}

main .lorem-ipsum-dolor p {
    padding-top: 50px;
}

main .lorem-ipsum-dolor-sit-amet {
    padding-top: 50px;
}

main .lorem-ipsum-dolor-sit-amet p {
    padding-top: 50px;
}

main .first-list {
    padding-top: 50px;
    margin-left: 40px;
}

main .second-list {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
}

main .second-list a {
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    color: #F8FAFC;
    margin-top: 21px;
}


aside .end-of-page {
    display: flex;
    padding-top: 88px;
}

aside .end-of-page h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
    color: #F8FAFC;
}

aside .end-of-page .changed-color-to-blue {
    color: #22D3EE ;
}

aside .end-of-page .text {
    padding-top: 33px;
}

aside .end-of-page p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #CBD5E1;
}

aside .end-of-page .mail {
    margin-top: 88px;
    margin-left: 56px;
    position: relative;
    width: 100%;
    max-width: 522px;
}


aside .end-of-page input {
    width: 100%;
    height: 70px;
    border-radius: 30px;
    background: #1E293B;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
    padding-left: 42px;
    padding-right: 190px;
    color: #F8FAFC;
}

aside .end-of-page input::placeholder {
    color: #F8FAFC;
}

aside .end-of-page button {
    background: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
    width: 164px;
    height: 46px;
    top: 12px;
    right: 17px;
    border-radius: 30px;
    position: absolute;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}

aside .strip {
    padding-top: 133px;
    width: 100%;
}

aside hr {
    background: #CBD5E1;
}

aside .ending {
    display: flex;
    padding-top: 17px;
}

aside .ending p {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    color: #CBD5E1;
    padding-top: 10px;
}

aside .ending .links-to-social-networks {
    padding-left: 330px;
}

aside .ending span {
    color: red;
}



